<div class="profile-card">
  <div class="profile-card__inner">
  <div class="profile-thumb">
  </div>
  <div class="profile-content">
    <span class="profile-name">名前：<%= @user.name %></span>
    <span class="profile-job">スキル：<%= @user.skill %></span>
    <span class="profile-intro">自己紹介：<%= @user.introduction%></span>
  </div>
  <div class="profile-sns">
    <span>FOLLOW ME</span>
    <a href="#"><i class="fab fa-twitter-square"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fas fa-envelope-square"></i></a>
  </div>
</div>